/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap'); */

/* creating a variable in css  */
/* :root{    */
/* defining root scope */
    /* --success-color:green;
    --error-color:red; */
    /* "--" declare variable */
/* } */

*{
box-sizing:border-box;
}

body {
    background: url(./farmer-getty.jpg);
    background-size: cover;
    font-family: sans-serif;
    /* display:flex;
    align-items:center;
    justify-content:center; */
    /* min-height:100vh; */
    margin:0;
    padding: 0;
}

 .container{
  width: 350px;
  height: 500px;
  background: rgb(0, 0, 0, 0.7);
  color: white; 
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px 10px; 
/* 
  width: 400px;
  height: 500px;
    background-color:#fff; */
    /* border-radius:5px;
    box-shadow:0 2px 10px rgba(0,0,0,0.3);
    width:400px; */
 }

 h2{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px; 

    /* text-align:center; */
    /* margin:0 0 20px; */
    /* font-weight: bold; */
 }

.container label{
  margin: 0;
  padding: 0;
  font-weight: bold;
} 

.container input{
width: 100%;
margin-bottom: 20px;
}

.container input[type="text"],input[type="password"]{ 
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 15px;

}

.container input[type="submit"]
{
  border: none;
  outline: none;
  height: 25px;
  background: #fb2525;
  color: #fff;
  font-size: 20px;
  border-radius: 15px;
}

input[type="submit"]:hover
{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}



/* .form-control{
     margin-bottom:10px; */
     /* padding-bottom:20px;
     position:relative; */
/* } */
/* .form-control label{
    color:#fff;
    margin: 0;
    padding: 0;
    font-weight: bold;
    /* display:block;
    margin-bottom:5px; */
/* } */
/* .form-control input{
    border:2px solid #f0f0f0;
    border-radius:5px;
    display:block;
    width:100%;
    padding:10px;
    font-size:14px;
} 
/* when selected a specific field it get highlighted from rest  */
/* .form-control input:focus{
    outline:0px;
    border-color:#777;
}
/* field get highlight color change when correct  */
/* .form-control.success input{
    border-color:var(--success-color); */
/* } */
/* wrong input field color  */
/* .form-control.error input{
    border-color:var(--error-color);
}
.form-control small{
color:var(--error-color);
position:absolute; 
bottom:0;
left:0px;
visibility:hidden;
}

.form-control.error small{
    visibility:visible;
} */

/* .form button {
    cursor:pointer;
    background-color:#3498db;
    border:2px solid #3498db;
    border-radius:4px;
    color:#fff;
    display:block;
    font-size:16px;
    margin-top:20px;
    width:100%; */

/* }  */ 